In [2]:
import pandas as pd 
import numpy as np
import os
import sys
os.chdir("E:\\2_Studium\\1_Mannheim\\4_Semester\\Masterarbeit\\code\\master-thesis-code\\results")

In [32]:
scenario = 'deepmatcher_2source'
#tasks = ['dbpedia_viaf','dbpedia_dnb','abt_buy','wdc_phones','wdc_headphones']
tasks = ['dbpedia_viaf']

for task in tasks:
    al_random_init = pd.read_csv(os.path.join(scenario,task,'al_random_init_'+task+'.csv'))
    al_tl = pd.read_csv(os.path.join(scenario,task,'al_tl_'+task+'.csv'))
    al_tl_da = pd.read_csv(os.path.join(scenario,task,'al_tl_da_'+task+'.csv'))
    al_tl_da_to_ls = pd.read_csv(os.path.join(scenario,task,'al_tl_da_to_ls_'+task+'.csv'))
    al_tl_da_thresh = pd.read_csv(os.path.join(scenario,task,'al_tl_da_thresh_'+task+'.csv'))

    df = pd.DataFrame()
    df['# Labeled Examples'] = al_random_init['labeled set size']
    df['al_random_init'] = al_random_init.apply(lambda x: '{:.3f}'.format(x['F1 Mean']) + ' (' + '{:.3f}'.format(x['F1 Std']) + ')',axis=1)
    df['al_tl'] = al_tl.apply(lambda x: '{:.3f}'.format(x['F1 Mean']) + ' (' + '{:.3f}'.format(x['F1 Std']) + ')',axis=1)
    df['al_tl_da'] = al_tl_da.apply(lambda x: '{:.3f}'.format(x['F1 Mean']) + ' (' + '{:.3f}'.format(x['F1 Std']) + ')',axis=1)
    df['al_tl_da_to_ls'] = al_tl_da_to_ls.apply(lambda x: '{:.3f}'.format(x['F1 Mean']) + ' (' + '{:.3f}'.format(x['F1 Std']) + ')',axis=1)
    df['al_tl_da_thresh'] = al_tl_da_thresh.apply(lambda x: '{:.3f}'.format(x['F1 Mean']) + ' (' + '{:.3f}'.format(x['F1 Std']) + ')',axis=1)
    df = df.set_index('# Labeled Examples')
    df.to_csv(os.path.join(scenario,task,'results_table_'+task+'.csv'))
    print(df)

                   al_random_init          al_tl       al_tl_da  \
# Labeled Examples
20                  0.262 (0.107)  0.278 (0.001)  0.230 (0.117)
40                  0.300 (0.112)  0.309 (0.053)  0.318 (0.042)
60                  0.440 (0.119)  0.338 (0.205)  0.361 (0.117)
80                  0.401 (0.175)  0.423 (0.059)  0.367 (0.095)
100                 0.400 (0.221)  0.447 (0.051)  0.459 (0.055)
120                 0.475 (0.175)  0.502 (0.059)  0.497 (0.045)
140                 0.571 (0.061)  0.598 (0.055)  0.572 (0.027)
160                 0.601 (0.037)  0.595 (0.022)  0.590 (0.018)
180                 0.653 (0.017)  0.644 (0.022)  0.595 (0.040)
200                 0.687 (0.034)  0.647 (0.034)  0.605 (0.045)
220                 0.679 (0.001)  0.680 (0.016)  0.657 (0.060)
240                 0.716 (0.006)  0.693 (0.026)  0.703 (0.018)
260                 0.717 (0.035)  0.720 (0.032)  0.701 (0.004)
280                 0.748 (0.031)  0.736 (0.013)  0.726 (0.020)
300                 0.769 (0.030)  0.730 (0.019)  0.720 (0.006)
320                 0.768 (0.028)  0.760 (0.016)  0.778 (0.015)
340                 0.766 (0.036)  0.770 (0.007)  0.782 (0.035)
360                 0.800 (0.019)  0.764 (0.027)  0.817 (0.030)
380                 0.802 (0.018)  0.787 (0.041)  0.796 (0.020)
400                 0.827 (0.042)  0.823 (0.006)  0.819 (0.026)
420                 0.837 (0.022)  0.818 (0.016)  0.820 (0.029)
440                 0.830 (0.033)  0.810 (0.005)  0.830 (0.018)
460                 0.830 (0.025)  0.822 (0.017)  0.825 (0.032)
480                 0.843 (0.022)  0.818 (0.024)  0.836 (0.017)
500                 0.838 (0.029)  0.840 (0.010)  0.833 (0.026)
520                 0.850 (0.019)  0.860 (0.008)  0.842 (0.003)
540                 0.872 (0.036)  0.856 (0.007)  0.862 (0.023)
560                 0.863 (0.005)  0.861 (0.013)  0.860 (0.020)
580                 0.866 (0.017)  0.865 (0.006)  0.880 (0.012)
600                 0.877 (0.011)  0.871 (0.010)  0.881 (0.006)
620                 0.881 (0.008)  0.875 (0.005)  0.882 (0.007)
640                 0.879 (0.013)  0.867 (0.020)  0.874 (0.011)
660                 0.891 (0.010)  0.878 (0.014)  0.879 (0.018)
680                 0.882 (0.021)  0.888 (0.007)  0.882 (0.024)
700                 0.885 (0.023)  0.883 (0.003)  0.894 (0.021)
720                 0.890 (0.021)  0.898 (0.019)  0.894 (0.022)
740                 0.888 (0.025)  0.899 (0.006)  0.875 (0.022)
760                 0.907 (0.020)  0.898 (0.019)  0.896 (0.014)
780                 0.906 (0.019)  0.897 (0.006)  0.898 (0.010)
800                 0.911 (0.011)  0.899 (0.004)  0.906 (0.017)
820                 0.893 (0.025)  0.910 (0.013)  0.903 (0.038)
840                 0.896 (0.034)  0.911 (0.014)  0.906 (0.037)
860                 0.910 (0.013)  0.903 (0.015)  0.900 (0.024)
880                 0.908 (0.007)  0.910 (0.012)  0.902 (0.022)
900                 0.911 (0.015)  0.914 (0.012)  0.918 (0.019)
920                 0.914 (0.010)  0.903 (0.015)  0.918 (0.014)
940                 0.912 (0.023)  0.914 (0.018)  0.924 (0.009)
960                 0.920 (0.027)  0.915 (0.011)  0.919 (0.009)
980                 0.920 (0.022)  0.916 (0.012)  0.915 (0.014)
1000                0.932 (0.016)  0.912 (0.014)  0.937 (0.014)

                   al_tl_da_to_ls al_tl_da_thresh
# Labeled Examples
20                  0.340 (0.038)   0.300 (0.019)
40                  0.394 (0.090)   0.220 (0.160)
60                  0.452 (0.064)   0.379 (0.026)
80                  0.515 (0.031)   0.320 (0.191)
100                 0.570 (0.021)   0.325 (0.166)
120                 0.581 (0.037)   0.475 (0.012)
140                 0.604 (0.061)   0.475 (0.055)
160                 0.630 (0.030)   0.544 (0.044)
180                 0.632 (0.056)   0.537 (0.043)
200                 0.676 (0.033)   0.593 (0.026)
220                 0.675 (0.041)   0.614 (0.063)
240                 0.704 (0.019)   0.641 (0.039)
260                 0.728 (0.016)   0.623 (0.055)
280                 0.735 (0.015)   0.709 (0.023)
300                 0.755 (0.024)   0.626 (0.100)
320                 0.742 (0.019)   0.738 (0.020)
340                 0.768 (0.026)   0.700 (0.048)
360                 0.776 (0.022)   0.746 (0.066)
380                 0.801 (0.009)   0.728 (0.024)
400                 0.788 (0.028)   0.772 (0.037)
420                 0.816 (0.014)   0.752 (0.017)
440                 0.819 (0.007)   0.816 (0.022)
460                 0.830 (0.005)   0.741 (0.067)
480                 0.844 (0.008)   0.800 (0.015)
500                 0.845 (0.023)   0.790 (0.013)
520                 0.848 (0.014)   0.814 (0.003)
540                 0.872 (0.008)   0.814 (0.020)
560                 0.862 (0.012)   0.843 (0.021)
580                 0.866 (0.013)   0.815 (0.038)
600                 0.869 (0.015)   0.854 (0.026)
620                 0.886 (0.015)   0.847 (0.023)
640                 0.874 (0.009)   0.872 (0.005)
660                 0.890 (0.010)   0.830 (0.002)
680                 0.890 (0.021)   0.866 (0.028)
700                 0.886 (0.005)   0.836 (0.017)
720                 0.899 (0.010)   0.879 (0.021)
740                 0.899 (0.009)   0.869 (0.017)
760                 0.898 (0.010)   0.883 (0.014)
780                 0.898 (0.019)   0.860 (0.014)
800                 0.895 (0.014)   0.899 (0.003)
820                 0.904 (0.011)   0.871 (0.028)
840                 0.910 (0.015)   0.902 (0.014)
860                 0.903 (0.004)   0.882 (0.021)
880                 0.913 (0.008)   0.906 (0.007)
900                 0.920 (0.007)   0.888 (0.007)
920                 0.918 (0.005)   0.910 (0.003)
940                 0.918 (0.002)   0.894 (0.017)
960                 0.913 (0.013)   0.913 (0.008)
980                 0.916 (0.010)   0.880 (0.008)
1000                0.921 (0.006)   0.923 (0.006)

In [29]:
"{:.3f}".format(0.990)

'0.990'